@import "tailwindcss";

@theme {
  --font-sans: ui-sans-serif, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-mono: ui-monospace, "SFMono-Regular", "JetBrains Mono", Menlo, monospace;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--color-slate-100);
  -webkit-font-smoothing: antialiased;
}

/* Gulir halus di WebView Android */
* {
  -webkit-tap-highlight-color: transparent;
}
